<!-- Page Content -->
<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">{{title}}</h1>
    <h4>Add a New Entry</h4>

    <form style="width: 50%" method="POST" action="/create">
      <fieldset class="form-group">
        <input type="text" name="title" class="form-control" id="book-title" placeholder="Title">
      </fieldset>

      <fieldset class="form-group">
        <input type="text" name="author" class="form-control" id="book-author" placeholder="Author">
      </fieldset>

      <fieldset class="form-group">
        <input type="text" class="form-control" id="book-publisher" placeholder="Publisher" name="publisher">
      </fieldset>

      <fieldset class="form-group">
        <input type="number" class="form-control" id="book-year" placeholder="Year" name="year">
      </fieldset>

      <button type="submit" class="btn btn-success btn-md" id="submit">Submit</button>
    </form>


  </header>

  <!-- Page Features -->

  <div class="row text-center">
    {{#each books as |book|}}
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
          <h4 class="card-title"><a href="/book/{{book._id}}">{{book.title}}</a></h4>
          <p class="card-text">by {{book.author}}</p>
        </div>
        <div class="card-footer">
          <small>{{book.year}}</small>
          <small class="float-right">{{book.publisher}}</small>
        </div>
      </div>
    </div>
    {{/each}}



  </div>
  <!-- /.row -->

</div>
<!-- /.container -->